controller:
  image:
    repository: wallarm/ingress-controller
    tag: 1.0.0-dev
    digest: null
  kind: DaemonSet
  allowSnippetAnnotations: false
  admissionWebhooks:
    enabled: false
  service:
    type: ClusterIP
  config:
    use-proxy-protocol: "true"
  wallarm:
    apiHost: api.wallarm.com
