controller:
  kind: DaemonSet
  image:
    repository: wallarm/ingress-controller
    tag: 1.0.0-dev
  service:
    type: ClusterIP
  extraModules:
    - name: opentelemetry
      image: busybox
  wallarm:
    apiHost: api.wallarm.com
