controller:
  image:
    repository: wallarm/ingress-controller
    tag: 1.0.0-dev
    digest: null
  admissionWebhooks:
    enabled: true
  service:
    type: ClusterIP
  wallarm:
    apiHost: api.wallarm.com
