controller:
  image:
    repository: wallarm/ingress-controller
    tag: 1.0.0-dev
    digest: null
  service:
    type: ClusterIP
  extraModules:
    - name: opentelemetry
      image: busybox
  wallarm:
    apiHost: api.wallarm.com