name: CI

on:
  pull_request:
    branches: ['main']
    types: ['opened', 'reopened', 'synchronize']
  workflow_dispatch:

permissions:
  contents: read

jobs:
  changes:
    name: Changes
    permissions:
      contents: read
      pull-requests: read
    runs-on: ubuntu-latest
    outputs:
      base: ${{ steps.filter.outputs.base }}
      go: ${{ steps.filter.outputs.go }}
      helm: ${{ steps.filter.outputs.helm}}
    steps:
      - name: Checkout
        uses: actions/checkout@755da8c3cf115ac066823e79a1e1788f8940201b # v3.0.2

      - uses: dorny/paths-filter@4512585405083f25c027a35db413c2b3b9006d50 # v2.10.2
        id: filter
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          filters: |
            base:
              - 'NGINX_BASE'
            go:
              - '**/*.go'
              - 'go.mod'
              - 'go.sum'
              - 'rootfs/**/*'
              - 'TAG'
              - 'test/e2e/**/*'
              - 'NGINX_BASE'
            helm:
              - 'charts/ingress-nginx/Chart.yaml'
              - 'charts/ingress-nginx/**/*'

  build:
    name: Build images
    runs-on: self-hosted-8cpu
    if: |
      (needs.changes.outputs.base == 'true' || needs.changes.outputs.go == 'true' || needs.changes.outputs.helm == 'true')
    needs:
      - changes
    steps:
      - name: Checkout
        uses: actions/checkout@755da8c3cf115ac066823e79a1e1788f8940201b # v3.0.2

      - name: Setup Docker Buildx
        if: needs.changes.outputs.base == 'true'
        uses: docker/setup-buildx-action@8c0edbc76e98fa90f69d9a2c020dcb50019dc325 # v2.0.0
        with:
          version: latest
          use: false

      - name: Build base image
        if: needs.changes.outputs.base == 'true'
        run: |
          eval $(ssh-agent -s)
          echo "${{ secrets.GITLAB_DEPLOY_KEY }}" | tr -d '\r' | ssh-add -
          make -C images/nginx OUTPUT=--load build
          docker save -o base.tar $(cat NGINX_BASE)

      - name: Build controller images
        env:
          ARCH: amd64
          REGISTRY: wallarm
          TAG: 1.0.0-dev
          USER: runner
        run: |
          echo "Building controller images ..."
          make clean-image build image image-chroot       
          echo "Building E2E image ..."
          make -C test/e2e-image image          
          docker save -o controller.tar \
          wallarm/ingress-controller:1.0.0-dev \
          wallarm/ingress-controller-chroot:1.0.0-dev \
          nginx-ingress-controller:e2e

      - name: Cache controller images
        uses: actions/upload-artifact@83fd05a356d7e2593de66fc9913b3002723633cb
        with:
          retention-days: 1
          name: controller.tar
          path: controller.tar

      - name: Cache base image
        if: needs.changes.outputs.base == 'true'
        uses: actions/upload-artifact@83fd05a356d7e2593de66fc9913b3002723633cb
        with:
          retention-days: 1
          name: base.tar
          path: base.tar

  smoke:
    name: Smoke
    runs-on: self-hosted-1cpu
    needs:
      - build
      - changes
    if: needs.changes.outputs.go == 'true'
    strategy:
      matrix:
        k8s: [v1.23.13, v1.24.7, v1.25.3]
    steps:
      - name: Checkout
        uses: actions/checkout@755da8c3cf115ac066823e79a1e1788f8940201b # v3.0.2

      - name: Load cache
        uses: actions/download-artifact@9782bd6a9848b53b110e712e20e42d89988822b7
        with:
          name: controller.tar

      - name: Load images
        run: docker load -i controller.tar

      - name: Install helm
        uses: azure/setup-helm@f382f75448129b3be48f8121b9857be18d815a82
        with:
          version: 'v3.8.0'

      - name: Create cluster
        uses: helm/kind-action@9e8295d178de23cbfbd8fa16cf844eec1d773a07
        with:
          version: v0.15.0
          cluster_name: kind
          node_image: kindest/node:${{ matrix.k8s }}

      - name: Run smoke tests
        env:
          ARCH: amd64
          KIND_CLUSTER_NAME: kind
          SKIP_CLUSTER_CREATION: true
          SKIP_IMAGE_CREATION: true
          WALLARM_API_TOKEN: ${{ secrets.WALLARM_API_TOKEN }}
          USER_UUID: ${{ secrets.WALLARM_API_USER_UUID }}
          USER_SECRET: ${{ secrets.WALLARM_API_USER_SECRET }}
          CLIENT_ID: 4
        run: |
          echo ${{ secrets.GITLAB_TOKEN_SECRET }} | docker login -u ${{ secrets.GITLAB_TOKEN_NAME }} --password-stdin dkr.wallarm.com
          kind get kubeconfig > $HOME/.kube/kind-config-kind
          export KUBECONFIG=$HOME/.kube/kind-config-kind
          make kind-smoke-test

  helm-install:
    name: Helm install
    runs-on: self-hosted-1cpu
    needs:
      - build
      - changes
    if: needs.changes.outputs.helm == 'true'
    steps:
      - name: Checkout
        uses: actions/checkout@755da8c3cf115ac066823e79a1e1788f8940201b # v3.0.2

      - name: Load cache
        uses: actions/download-artifact@9782bd6a9848b53b110e712e20e42d89988822b7
        with:
          name: controller.tar

      - name: Load images
        run: docker load -i controller.tar

      - name: Install helm
        uses: azure/setup-helm@f382f75448129b3be48f8121b9857be18d815a82
        with:
          version: 'v3.8.0'

      - name: Create cluster
        uses: helm/kind-action@9e8295d178de23cbfbd8fa16cf844eec1d773a07
        with:
          version: v0.15.0
          cluster_name: kind
          node_image: kindest/node:v1.24.4

      - name: Run E2E chart tests
        env:
          ARCH: amd64
          KIND_CLUSTER_NAME: kind
          SKIP_CLUSTER_CREATION: true
          SKIP_IMAGE_CREATION: true
          WALLARM_API_TOKEN: ${{ secrets.WALLARM_API_TOKEN }}
        run: |
          kind get kubeconfig > $HOME/.kube/kind-config-kind
          export KUBECONFIG=$HOME/.kube/kind-config-kind
          make kind-e2e-chart-tests


  e2e:
    name: E2E
    runs-on: self-hosted-2cpu
    needs:
      - build
      - changes
    if: needs.changes.outputs.go == 'true'
    steps:
      - name: Checkout
        uses: actions/checkout@755da8c3cf115ac066823e79a1e1788f8940201b # v3.0.2

      - name: Load base build cache
        if: needs.changes.outputs.base == 'true'
        uses: actions/download-artifact@9782bd6a9848b53b110e712e20e42d89988822b7
        with:
          name: base.tar

      - name: Load base image
        if: needs.changes.outputs.base == 'true'
        run: docker load -i base.tar

      - name: Load controller build cache
        uses: actions/download-artifact@9782bd6a9848b53b110e712e20e42d89988822b7
        with:
          name: controller.tar

      - name: Load controller images
        run: docker load -i controller.tar

      - name: Install Helm
        uses: azure/setup-helm@f382f75448129b3be48f8121b9857be18d815a82
        with:
          version: 'v3.8.0'

      - name: Create cluster
        uses: helm/kind-action@9e8295d178de23cbfbd8fa16cf844eec1d773a07
        with:
          verbosity: "0"
          wait: "240s"
          version: v0.15.0
          node_image: kindest/node:v1.24.7
          config: test/e2e/kind.yaml
          cluster_name: kind

      - name: Copying base image to cluster
        if: needs.changes.outputs.base == 'true'
        run: kind load docker-image --name=kind $(cat NGINX_BASE)

      - name: Run e2e tests
        env:
          KIND_CLUSTER_NAME: kind
          SKIP_CLUSTER_CREATION: true
          SKIP_IMAGE_CREATION: true
          ARCH: amd64
        run: |
          kind get kubeconfig > $HOME/.kube/kind-config-kind
          make E2E_NODES=10 kind-e2e-test


  e2e-wallarm:
    name: E2E - Wallarm
    runs-on: self-hosted-4cpu
    needs:
      - changes
      - build
    if: needs.changes.outputs.go == 'true'
    strategy:
      matrix:
        k8s: [v1.23.13, v1.24.7, v1.25.3]
    steps:
      - name: Checkout
        uses: actions/checkout@755da8c3cf115ac066823e79a1e1788f8940201b # v3.0.2

      - name: Load base build cache
        if: needs.changes.outputs.base == 'true'
        uses: actions/download-artifact@9782bd6a9848b53b110e712e20e42d89988822b7
        with:
          name: base.tar

      - name: Load base image
        if: needs.changes.outputs.base == 'true'
        run: docker load -i base.tar

      - name: Load controller build cache
        uses: actions/download-artifact@9782bd6a9848b53b110e712e20e42d89988822b7
        with:
          name: controller.tar

      - name: Load controller images
        run: docker load -i controller.tar

      - name: Install Helm
        uses: azure/setup-helm@f382f75448129b3be48f8121b9857be18d815a82
        with:
          version: 'v3.8.0'

      - name: Create cluster ${{ matrix.k8s }}
        uses: helm/kind-action@9e8295d178de23cbfbd8fa16cf844eec1d773a07
        with:
          verbosity: "0"
          wait: "240s"
          version: v0.15.0
          node_image: kindest/node:${{ matrix.k8s }}
          config: test/e2e/kind.yaml
          cluster_name: kind

      - name: Copying base image to cluster
        if: needs.changes.outputs.base == 'true'
        run: kind load docker-image --name=kind $(cat NGINX_BASE)

      - name: Run e2e tests
        env:
          ARCH: amd64
          KIND_CLUSTER_NAME: kind
          SKIP_CLUSTER_CREATION: true
          SKIP_IMAGE_CREATION: true
          WALLARM_ENABLED: true
          WALLARM_API_TOKEN: ${{ secrets.WALLARM_API_TOKEN }}
        run: |
          kind get kubeconfig > $HOME/.kube/kind-config-kind
          make E2E_NODES=10 kind-e2e-test

  scan:
    name: Scan images
    runs-on: self-hosted-1cpu
    continue-on-error: true
    needs:
      - changes
      - build
    if: |
      (needs.changes.outputs.base == 'true' || needs.changes.outputs.go == 'true')
    steps:
      - name: Load controller build cache
        uses: actions/download-artifact@9782bd6a9848b53b110e712e20e42d89988822b7
        with:
          name: controller.tar

      - name: Load controller images
        run: docker load -i controller.tar

      - name: Scan controller image
        uses: anchore/scan-action@9a22e4caae42db0d4c687ab5431e1c3699d0def1
        with:
          image: "wallarm/ingress-controller:1.0.0-dev"
          fail-build: true
          output-format: 'table'
          severity-cutoff: 'critical'